---
http_interactions:
- request:
    method: get
    uri: http://www.xmlsoccer.com/FootballDataDemo.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://xmlsoccer.com/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://xmlsoccer.com/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://xmlsoccer.com/\">\r\n
        \     <s:element name=\"GetHistoricMatchesByTeamAndDateInterval\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"ApiKey\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"teamId\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"startDateString\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"endDateString\"
        type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"GetHistoricMatchesByTeamAndDateIntervalResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"GetHistoricMatchesByTeamAndDateIntervalResult\">\r\n
        \             <s:complexType mixed=\"true\">\r\n                <s:sequence>\r\n
        \                 <s:any />\r\n                </s:sequence>\r\n              </s:complexType>\r\n
        \           </s:element>\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"GetHistoricMatchesByID\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"ApiKey\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"1\" maxOccurs=\"1\" name=\"Id\" type=\"s:in[...]
- request:
    method: post
    uri: http://www.xmlsoccer.com/FootballDataDemo.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlsoccer.com/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetAllTeams><tns:ApiKey>RPVYEMAXSUNGZXSQUSQWFXPQYHUJHEPGWZYESAIUAATHDGGBNA</tns:ApiKey></tns:GetAllTeams></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://xmlsoccer.com/GetAllTeams"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetAllTeamsResponse
        xmlns="http://xmlsoccer.com/"><GetAllTeamsResult><XMLSOCCER.COM xmlns=""><Team><Team_Id>45</Team_Id><Name>Aberdeen</Name><Country>Scotland</Country><Stadium>Pittodrie
        Stadium</Stadium><HomePageURL>http://www.afc.co.uk</HomePageURL><WIKILink>http://en.wikipedia.org/wiki/Aberdeen_F.C.</WIKILink></Team><Team><Team_Id>46</Team_Id><Name>St
        Johnstone</Name><Country>Scotland</Country><Stadium>McDiarmid Park</Stadium><HomePageURL>http://www.perthstjohnstonefc.co.uk</HomePageURL><WIKILink>http://en.wikipedia.org/wiki/St._Johnstone_F.C.</WIKILink></Team><Team><Team_Id>47</Team_Id><Name>Motherwell</Name><Country>Scotland</Country><Stadium>Fir
        Park Stadium</Stadium><HomePageURL>http://www.motherwellfc.co.uk</HomePageURL><WIKILi[...]
